<mat-card class="panel-primary">
    <div class="panel-heading">
        <h3> HOW CAN I PREVENT MYSELF AND OTHERS--- <small>Source: Ministry of Health</small> </h3>
        <div style="text-align: right;">
            <button (click)="onNoClick()" mat-raised-button color="warn">
                <mat-icon class="mat-18">clear</mat-icon>
            </button>
        </div>
    </div>
    <div>
        <h4>Wash your hands frequently</h4>
        <h5>Regularly and thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water.
        </h5>

        <h5>Why? Washing your hands with soap and water or using alcohol-based hand rub kills viruses that may be on
            your hands.</h5>

        <h4>Maintain social distancing</h4>
        <h5>Maintain at least 1 metre (3 feet) distance between yourself and anyone who is coughing or sneezing.</h5>
        <h5> Why? When someone coughs or sneezes they spray small liquid droplets from their nose or mouth which may
            contain virus. If you are too close, you can breathe in the droplets, including the COVID-19 virus if the
            person coughing has the disease.
        </h5>
        <h4>Avoid touching eyes, nose and mouth</h4>
        <h5>Why? Hands touch many surfaces and can pick up viruses. Once contaminated, hands can transfer the virus to
            your eyes, nose or mouth. From there, the virus can enter your body and can make you sick.</h5>

        <h4>Practice respiratory hygiene</h4>
        <h5>Make sure you, and the people around you, follow good respiratory hygiene. This means covering your mouth
            and nose with your bent elbow or tissue when you cough or sneeze. Then dispose of the used tissue
            immediately.
            <br>
            Why? Droplets spread virus. By following good respiratory hygiene you protect the people around you from
            viruses such as cold, flu and COVID-19.</h5>
    </div>

</mat-card>